@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}
/*Modificar o scroll*--Rolagem da barra lateral/
/*Firefox*/
*{
scrollbar-width: 12px;
scrollbar-color: #010b26 #010b26;
}
/*Chrome, Edge e Safari*/
*::-webkit-scrollbar{
width: 12px;
}

*::-webkit-scrollbar-track{
background: #5a5a5a ;
}
*::-webkit-scrollbar-thumb{
background: #010b26;
border-radius: 20px;
border:  3px solid #010b26;
}