@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;



}
/*Configurando Músicas*/
body{
    font-family: 'Poopins', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #121213;
    display: grid;
    place-items: center;
}

header{
   position: relative;
    width: 85%;
    height: 95%;
   /* border: 1px solid #fff;*/
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
   
}



 header .menu_lateral, .musicas_lateral{
    width: 25%; 
    height: 90%;
   /* border: 1px solid  #fff;*/
    background: #111727;
    box-shadow: 5px 8px 2px #090f1f;
    color: #fff;
 } 



 header .musicas_lateral{
    width: 75%;
    background: #0b1320;
 } 



 header .melhores_musicas{
   width: 100%;
   height: 10%;
   /*border: 1px solid #fff;*/
   background: #111727;
   box-shadow: 0px 3px 8px #090f1f;
  
 }
 header .menu_lateral h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;

 }
 header .menu_lateral .playlist{
    margin: 40px 0px 0px 20px;

    
 }
 header .menu_lateral .playlist h4{
 font-size: 14px;
 font-weight: 400;
 padding-bottom: 10px;
 color: #4c5262;
 cursor: pointer;
 display: flex;
 align-items: center;
 transition: .3s linear;
    
 }
 /*efeito de passar com mouse*/
 header .menu_lateral .playlist h4:hover{
   
       color: #fff;
 }
 /*Fim do efeito de passar com mouse*/
 header .menu_lateral .playlist h4 span{
position: relative;
margin-right: 35px;
}
header .menu_lateral .playlist h4 span::before{
content: '';  
position: absolute;
width: 4px;
height: 4px;
border: 2px solid #4c5262;
border-radius: 50%;
top: -4px;
transition: .3s linear;
}
header .menu_lateral .playlist h4:hover span::before{
   border:2px solid #fff;
}
header .menu_lateral .playlist h4 .bi{
    display: none;
}
header .menu_lateral .playlist  .active{
color: #36e2ec;
}
header .menu_lateral .playlist  .active span{
   display: none;
}  
header .menu_lateral .playlist .active .bi{
    display: flex;
    margin-right: 20px;  
 }     
 header .menu_lateral .menu_musica{
    width: 100%;
    height: 420px;
   /* border: 1px solid #fff;*/
    margin-top: 40px;
    overflow: auto;
    
 }  
 header .menu_lateral .menu_musica::-webkit-scrollbar{
display: none;
   
}  
     
        
 header .menu_lateral .menu_musica li{
   list-style-type: none;
   position: relative;
   padding: 5px 0px 5px 20px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
   transition: .3s linear;
   
}  
header .menu_lateral .menu_musica li:hover{
background: rgb(105, 105, 105, .1);
   
}  
   
header .menu_lateral .menu_musica li span{
font-size: 12px;
font-weight: 600;
color: #4c5262;
      
   }  
header .menu_lateral .menu_musica li img{
     width: 32px;
     height: 32px;
     margin-left: 25px;
}  
         
header .menu_lateral .menu_musica li h5{
font-size: 11px;
margin-left: 15px;
width: 170px;
/*border: 1px solid #fff;*/
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
      
}  
header .menu_lateral .menu_musica li h5 .subtitulo{
font-size: 9px;
color: #4c5262;
   }  
         
header .menu_lateral .menu_musica li .bi{
     position: absolute;
     right: 10px;
    
}  
header .melhores_musicas{
   display: flex;
   align-items: center;
   padding: 0px 20px ;
}
header .melhores_musicas .wave{
   width: 30px ;
   height: 30px ;
   border: 1px solid #fff;
   padding-bottom:5px ;
   display: flex;
   align-items: flex-end ;
   margin-right: 10px;
}
header .melhores_musicas .wave .wave1{
   width: 3px ;
   height: 10px;
   background: #36e2ec;
   margin-right: 3px;
   border-radius: 10px 10px 0px 0px;
  animation: unset;/**chamar o efeito sobe desce*/

}
header .melhores_musicas .wave .wave1:nth-child(2){

   height: 13px;
   margin-right: 3.5px;
   animation-delay: .4s;
 
}
header .melhores_musicas .wave .wave1:nth-child(3){

   height: 8px;
   animation-delay: .8s;
 
}



/*Classes JavsScript*/
header .melhores_musicas .active1 .wave1{
animation:  wave .5s linear infinite;
}
header .melhores_musicas .active1 .wave1:nth-child(2){
animation-delay: .4s;
    
   }
header .melhores_musicas .active1 .wave1:nth-child(3){
animation-delay: .8s;
    
   }

 


/*Efeito de som(sobe desce-sobe-desce*/
@keyframes wave{
   0%{
      height: 10px;
   }
   50%{

      height: 15px;
   }
   100%{
      height: 10px;
   }
   /*Fim do efeito sobe-desce*/
}
header .melhores_musicas img{
   width: 35px;
   height: 35x;
}
header .melhores_musicas h5{
   width: 130px;
 /*border: 1px solid #fff;*/
  margin-left: 15px;
  color: #fff;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;

}
header .melhores_musicas h5 .subtitulo{
 font-size: 11px;
 color: #4c5262;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .melhores_musicas .icones{
   font-size: 28px;
   color: #fff;
   margin: 0px 20px 0px 40px;
   outline: none;
   display: flex;
   align-items: center;
}
header .melhores_musicas .icones .bi{
 cursor: pointer;
 outline: none; 
}
header .melhores_musicas .icones .shuffle{
font-size: 17px;
margin: 10px;
width: 17.5px;
overflow: hidden;
display: flex;
align-items: center;
 }
 header .melhores_musicas .icones #download_musica{
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   margin-left: 10px;
 }
 header .melhores_musicas .icones .bi:nth-child(3){
border:  1px solid rgb(105, 105, 105, .1) ;
border-radius: 50%;
padding: 1px 5px 0px 7px;
margin: 0px 5px  ;
 }
 header .melhores_musicas span {
 color: #fff;
 width: 32px;
 /**border: 1px solid #fff;*/
 font-size: 11px;
 font-weight: 400;
}
header .melhores_musicas #currentStart{
   margin: 0px 0px 0px 20px;
}
header .melhores_musicas .barra_progresso{
position: relative;
width: 43%;
height: 2px;
background: rgb(105, 105, 170, .1);
margin: 0px 15px 0px 10px;
}
header .melhores_musicas .barra_progresso .barra_progresso2{
position: absolute;
background: #36e2ec;
width: 0%;
height: 100%;
top: 0;
transition: 1s linear;
}
header .melhores_musicas .barra_progresso .dot{
   position: absolute;
   width: 5px ;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1.5px;
   transition: 1s linear;
}
header .melhores_musicas .barra_progresso .dot::before{
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border: 1px solid #36e2ec;
   border-radius: 50%;
   left: -7px;
   top: -6.5px;
   box-shadow: inset 0px 0px 3px #36e2ec;
}
header .melhores_musicas .barra_progresso input{
 position: absolute;
 width: 100%;
 top: -7px;
 left: 0;
 cursor: pointer;
 z-index: 9999999999999999999999999999999999999999999;
 /*transition: 3s linear;*/
 opacity: 0;
}

header .melhores_musicas .volume{
   position: relative;
   width: 100px;
   height: 2px;
   background: rgb(105, 105, 170, .1);
   margin-left: 50px;
}
    
header .melhores_musicas .volume .bi{
position: absolute;
color: #fff;
font-size: 25px;
top: -12px;
left: -30px;
}
header .melhores_musicas .volume input{
   position: absolute;
   width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999999999999999999999999999999;
    opacity: 0;
}
header .melhores_musicas .volume .volume_progresso{
   position: absolute;
   background: #36e2ec;
   width: 100%;
   height: 100%;
   transition: 1s linear;
}
header .melhores_musicas .volume .dot{
   position: absolute;
   width: 5px ;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 100%;
   top: -1.5px;
   transition: 1s linear;
}  
header .melhores_musicas .volume .dot::before{
  content: '';
  position: absolute; 
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -7px;
  top: -6.5px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
/*
header .menu_musica::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 300px;
   background: url('capa.png') left no-repeat; 
 
}*/
header .musicas_lateral{
   z-index: 2;


}
header .musicas_lateral::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 300px;
   background: url('capa.png') no-repeat; 
   z-index: -1;

}
header .musicas_lateral nav{
   width: 90%;
   height: 10%;
  /* border: 1px solid #fff;*/
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .musicas_lateral nav ul{
 display: flex; 

}
header .musicas_lateral nav ul li{
list-style: none;
position: relative;
font-size: 13px;
color: #4c5262;/*Modificar a cor*/
margin-right: 25px;
cursor: pointer;
transition: .3s linear;
  
}
header .musicas_lateral nav ul li:hover{
color: #fff;
     
}
header .musicas_lateral nav ul li:nth-child(1){
   color: #fff;
        
}  
header .musicas_lateral nav ul li span{
position: absolute;
width: 100%;
height:  2.5px;
background: #36e2ec;
bottom: -5px ;
left: 0;
border-radius: 20px;
 /*Colocar sublinhado na palavra PAGINA-INICIAL*/       
} 
/*Configurando barra de pesquisar*/
header .musicas_lateral nav .pesquisar{
    position: relative;
    width: 40%;
    padding: 1px 10px ;
    border-radius: 20px;
    /*border: 1px solid #fff;*/
    color: gray;
}    
header .musicas_lateral nav .pesquisar::before{
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: rgb(184, 184, 184, .1);
 border-radius: 20px;
 backdrop-filter: blur(5px);/*Pesquisar mais tarde*/
 z-index: -1;
}
header .musicas_lateral nav .pesquisar .bi{
 font-size: 13px;
 padding:3px 0px 0px 10px ;
}
header .musicas_lateral nav .pesquisar input{
   background: none;
   border: none;
   outline: none;
   padding: 0px 10px;
   color: #fff;
   font-size: 12px;
}
/*Finalizando barra de pesquisa*/
header .musicas_lateral nav .usuario{
position: relative;
width: 30px;
height: 30px;
/*border: 1px solid #fff;*/
border-radius: 50%; 
}
header .musicas_lateral nav .usuario img{

width: 100%;
height: 100%;
border-radius: 50%;
box-shadow: 2px 2px 4px #121213;
}
header .musicas_lateral .content{
 width: 90%;
 height: 30%;
/* border: 1px solid #fff;*/
 margin: auto;
 padding-top: 20px;
  
}
header .musicas_lateral .content h1{
 font-size: 25px;
 font-weight: 600;
    
}
header .musicas_lateral .content p{
   font-size: 11px;
   font-weight: 400;
   color: #4c5262;
   margin: 5px;
      
}
header .musicas_lateral .content .botoes{
margin-top: 15px;      
}
header .musicas_lateral .content .botoes button{
 width: 130px;
 height: 30px;
 border: 2px solid #36e2ec;
 outline: none;
 border-radius: 20px;
 background: #5adae0;
 color: #fff;
 cursor: pointer;
 transition: .3s linear;
}
header .musicas_lateral .content .botoes button:hover{
background: none;
color: #36e2ec;
}

header .musicas_lateral .content .botoes button:nth-child(2){
   background: none;
   color: #36e2ec;/*Pensar em tirar essa funcionalidade*/
}
header .musicas_lateral .content .botoes button:nth-child(2):hover{
   background: #36e2ec;
   color: #fff;
}
header .musicas_lateral .musicas_populares{
   width: 90%;
   height: auto;
   margin: auto;
   margin-top: 15px;
  /* border: 1px solid #fff;*/
  
}
header .musicas_lateral .musicas_populares .h4{ 
display: flex;
align-items: center;
justify-content: space-between ;

  
}
header .musicas_lateral .musicas_populares .h4 .bi{ 
   color: #a4a8b4;
   cursor: pointer;
   transition: .3s linear;     
}
header .musicas_lateral .musicas_populares .h4 .bi:hover{ 
   color: #fff;
      
}
header .musicas_lateral .musicas_populares .pop_musicas { 
width: 100%;
height: 150px;
margin-top: 15px;
display: flex;
/*border: 1px solid #fff;*/
overflow: auto;
scroll-behavior: smooth;
      
}
header .musicas_lateral .musicas_populares .pop_musicas::-webkit-scrollbar { 
   display: none;
         
   }
header .musicas_lateral .musicas_populares .pop_musicas li { 
  min-width: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: .3s linear;
}
header .musicas_lateral .musicas_populares .pop_musicas li:hover { 
background: rgb(105, 105, 170, .1) ;
}
header .musicas_lateral .musicas_populares .pop_musicas li .img_play{ 
 position: relative;
 width: 100px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;   
}
header .musicas_lateral .musicas_populares .pop_musicas li .img_play img{ 
 width: 100%;
 height: 100%;
}
header .musicas_lateral .musicas_populares .pop_musicas li .img_play .bi{ 
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;
  opacity: 0;
}
header .musicas_lateral .musicas_populares .pop_musicas li:hover .img_play .bi{ 
 
   opacity: 1;
 }   
 header .musicas_lateral .musicas_populares .pop_musicas li h5{ 
 padding: 5px 0px 0px 5px;
 line-height: 15px;
 font-size: 10px;
 width: 100px ;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 
 }  
 header .musicas_lateral .musicas_populares .pop_musicas li h5 .subtitulo{ 
font-size: 9px;
color: #4c5262;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
header .musicas_lateral .artistas_populares{
  width: 90%;
  height: auto;
 /* border: 1px solid #fff;*/ 
  margin: auto;
  margin-top: 15px ;
}   
header .musicas_lateral .artistas_populares .h4{ 
   display: flex;
   align-items: center;
   justify-content: space-between ;
     
 
     
}
header .musicas_lateral .artistas_populares .h4 .bi{ 
   color: #a4a8b4;
   cursor: pointer;
   transition: .3s linear;     
}
header .musicas_lateral .artistas_populares .h4 .bi:hover{ 
   color: #fff;
         
}
         
header .musicas_lateral .artistas_populares .h4 .bi:hover{ 
   color: #fff;
      
}
header .musicas_lateral .artistas_populares .pop_musicas { 
width: 100%;
height: 150px;
margin-top: 15px;
display: flex;
/*border: 1px solid #fff;*/
overflow: auto;
scroll-behavior: smooth;
      
}
header .musicas_lateral .artistas_populares .pop_musicas::-webkit-scrollbar { 
   display: none;
         
   }
header .musicas_lateral .artistas_populares .pop_musicas li { 
  min-width: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: .3s linear;
} 
header .musicas_lateral .artistas_populares .item{ 
   width: 100%;
   height: auto;
   margin-top: 15px;
   display: flex;
   /*border: 1px solid #fff;*/
   overflow: auto;
   scroll-behavior: smooth;
 
            
         
}
header .musicas_lateral .artistas_populares .item::-webkit-scrollbar{ 
display: none;
}
header .musicas_lateral .artistas_populares .item li{ 
list-style-type: none;
position: relative;
min-width: 60px;
height: 60px;
border-radius: 50%;
margin-right: 20px;
cursor: pointer;                   
}  
header .musicas_lateral .artistas_populares .item li img{ 
   width: 100%;
   height: 100%;
   border-radius: 50%; 
                
} 
     
  
              
               

    
         
       
       
        
      
  
  
   
                 
            
           
                          
    
     
  
 
  
   


/*Finalizando configurações das músicas*/